@charset "utf-8";

/*---------------------------------------------------*/
/*	01) AOLA BASE
/*---------------------------------------------------*/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 2.5;
	letter-spacing: 1px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #fff;
	text-align: left;
}
svg{
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg{
	width: 15px;
	height: 15px;
}
.aola_tm_wrapper_all {
	border-bottom: 1px solid black;
}
.aola_tm_wrapper_all,
.aola_tm_section,
.aola_tm_content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.aola_tm_content{
	position: relative;
	z-index: 1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #000;
}

::placeholder { /* Most modern browsers support this now. */
   color: #000;
}

/*---------------------------------------------------*/
/*	02) AOLA HEADER
/*---------------------------------------------------*/

.dark_logo {
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 15px;
}
.logo_menu{
	/* background-color: #fff; */
	margin-bottom: 0px;
	z-index: 5555555;
	position: relative;
	/* -webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;  */
}

.logo_menu:after{
	content: '';
	clear: both;
	display: block;

}

.logo_menu ul{
	list-style: none;
	margin: 0;

}

.logo_menu > ul > li { 
	float: left;
	position: relative;
}


.logo_menu ul ul{
	position: absolute;
	padding: 10px;
	min-width: 100px;
	display: none;
	top: 100%;
	left: 0;
	z-index: 55555555;
}

.logo_menu ul ul{
	position: relative;
	background-color: white;
}

.aola_tm_header{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: fixed;
	top: 0px;
	z-index: 5555;
	background-color: white;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_header.scroll{background-color: rgba(255,255,255,.8);}
.aola_tm_header.scroll .aola_tm_navigation_wrap .menu > ul > li a{color: #000;}
.aola_tm_header.scroll .aola_tm_navigation_wrap .menu > ul > li a.current{color: #fff;}
.aola_tm_header.scroll .aola_tm_navigation_wrap .social_icons_wrap > ul > li a{color: #000;}
.aola_tm_navigation_wrap,
.aola_tm_navigation_wrap .navigation_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_navigation_wrap{
	min-height: 38px;	
	line-height: 38px;
	padding: 0px 0px;
	border-bottom: 1px solid black;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.aola_tm_header.scroll .aola_tm_navigation_wrap{padding: 0px 0px;}
.aola_tm_navigation_wrap .navigation_inner{position: relative;}
.aola_tm_navigation_wrap .logo{
	position: absolute;
	left: 0px;
	top: 5px;
}
.aola_tm_navigation_wrap .nav_list_wrap{
	width: auto;
	height: auto;
	clear: both;
	float: right;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.menu{
	/* background-color: #fff; */
	margin-bottom: 0px;
	z-index: 55555;
	position: relative;
	/* -webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;  */
}

.menu:after{
	content: '';
	clear: both;
	display: block;

}

.menu ul{
	list-style: none;
	margin: 0;

}

.menu > ul > li { 
	float: left;
	position: relative;
}

.menu ul li a{
	text-decoration: none;
            color: #000;
            padding: 5px 20px;
            display: block;
	
	/* -webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease; */
}
.menu ul li a.current {
	background-color: rgb(0,0,0);
	color: #fff;
}
.menu ul li:hover {
	background-color: rgba(0,0,0, 0.5);
	color: #fff;
}

.menu ul ul{
	position: absolute;
	padding: 0;
	min-width: 375px;
	display: none;
	top: 100%;
	left: 0;
	z-index: 555555;
}

.menu ul li:hover > ul{
	display: block;
	background-color: white;
}
.menu ul ul li:hover{
	background-color: rgba(0,0,0, 0.5);
}
.menu ul ul li{
	position: relative;
}


/*---------------------------------------------------*/
/*	03) AOLA MOBILE MENU
/*---------------------------------------------------*/

.aola_tm_mobile_menu_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(255,255,255,.95);
	padding: 50px 20px;
	display: none;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */	
}
/* .aola_tm_mobile_menu_wrap .mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box; 
.aola_tm_mobile_menu_wrap .mob_menu > ul{
	margin: 0px;
	list-style-type: none;
}
.aola_tm_mobile_menu_wrap .mob_menu > ul > li{margin: 0px 0px 10px 0px;}
.aola_tm_mobile_menu_wrap .mob_menu > ul > li:last-child{margin-bottom: 0px;}
.aola_tm_mobile_menu_wrap .mob_menu > ul > li a{
	text-decoration: none;
	color: #000;
	font-family: "Quicksand";
	font-weight: 600;
	font-size: 20px;
	line-height: 1.7;
} */

.mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}

.mob_menu:after{
	content: '';
	clear: both;
	display: block;
}

.mob_menu ul{
	list-style-type: none;
	margin: 0px;

}

.mob_menu > ul > li { 
	margin: 0px 0px 10px 0px;
}
.mob_menu > ul > li:last-child {
	margin-bottom: 0px;
}

.mob_menu ul li a{
	text-decoration: none;
            color: #000;
            padding: 5px 20px;
            display: block;
	
	/* -webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease; */
}
.mob_menu ul li a.current {
	background-color: rgb(0,0,0);
	color: #fff;
}
.mob_menu ul li:hover {
	background-color: rgba(0,0,0, 0.5);
	color: #fff;
}

.mob_menu ul ul{
	position: inherit;
	padding: 0;
	min-width: 350px;
	display: none;
	top: 100%;
	left: 0;
	z-index: 5555555;
}

.mob_menu ul li > ul{
	/* display: inherit; */
	background-color: white;
	padding-left: 15px;
}
.mob_menu ul ul li:hover{
	background-color: rgba(0,0,0, 0.5);
}
.mob_menu ul ul li{
	position: relative;
}


/*---------------------------------------------------*/
/*	04) AOLA HAMBURGER
/*---------------------------------------------------*/

.aola_tm_trigger{
	position: absolute;
	right: 0px;
	top: 11px;
	display: none;
}
.aola_tm_trigger .hamburger{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.aola_tm_trigger .hamburger-box{
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}
.aola_tm_trigger .hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
}
.aola_tm_trigger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.aola_tm_trigger .hamburger-inner::before,
.aola_tm_trigger .hamburger-inner::after{
    content: "";
    display: block;
}
.aola_tm_trigger .hamburger-inner::before{top: -8px;}
.aola_tm_trigger .hamburger-inner::after{ bottom: -10px;}
.aola_tm_trigger .hamburger--collapse-r .hamburger-inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.aola_tm_trigger .hamburger--collapse-r .hamburger-inner::after{
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.aola_tm_trigger .hamburger--collapse-r .hamburger-inner::before{
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.aola_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner{
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.aola_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.aola_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::before{
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.aola_tm_trigger .hamburger{
	padding: 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.aola_tm_trigger .hamburger-box{display: block;}
.aola_tm_trigger .hamburger .hamburger-inner::before,
.aola_tm_trigger .hamburger .hamburger-inner::after,
.aola_tm_trigger .hamburger .hamburger-inner{
	background-color: #000;
	width: 30px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

/*---------------------------------------------------*/
/*	05) AOLA CONTENT
/*---------------------------------------------------*/

.aola_tm_home_title_wrap{
	width: 100%;
	height: 10px;
	float: left;
	clear: both;
	text-align: left;
	max-width: 600px;
	margin-bottom: 50px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_home_title_wrap.index{margin-bottom: 50px}
.aola_tm_portfolio_home_wrap{
	width: 100%;
	max-width: 1380px;
	height: auto;
	clear: both;
	margin: 0px auto 170px auto;
	padding: 0px 40px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_portfolio_home_wrap .item{
	float: left;
	/* overflow: hidden; */
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_portfolio_home_wrap .item .inner{
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
.aola_tm_portfolio_home_wrap .image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.aola_tm_portfolio_home_wrap .image_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	opacity: 0;
	visibility: hidden;
}
.aola_tm_portfolio_home_wrap .image_definition{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	
	opacity: 0;
	visibility: hidden;
}
.aola_tm_portfolio_home_wrap .image_definition .title a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	font-family: "Open Sans";
	font-size: 16px;
}
.aola_tm_portfolio_home_wrap .link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.aola_tm_portfolio_home_wrap .link a{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-family: "Open Sans";
}
.aola_tm_portfolio_home_wrap .item:hover .image{transform: scale(1.1,1.1) translateZ(0);} 
.aola_tm_portfolio_home_wrap .item:hover .image_overlay{
	opacity: 1;
	visibility: visible;
}
.aola_tm_portfolio_home_wrap .item:hover .image_definition{
	opacity: 1;
	visibility: visible;
}



.aola_tm_footer_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: right;
	padding-bottom: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */

}

.aola_tm_footer_wrap .copyright{text-align:right;}

.aola_tm_footer_wrap{	
	color: #000;
	padding-top: 0px;
	font-weight: 500;
}

/*---------------------------------------------------*/
/*	08) AOLA PORTFOLIO
/*---------------------------------------------------*/
.aola_tm_portfolio_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 0px;
	margin-top: 10px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}



/* PORTFOLIO LIST */

.withbg {
	background-image: url("metallic.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 100px;
	padding-top: 30px;;
	height: auto;
}
.aola_tm_portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_portfolio_list > li{
	width:33.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_portfolio_list .list_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	/* overflow: hidden; */
	background-image: url("box-texture.png");
	align-items: center;

		box-shadow: 1px 1px 15px 15px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 15px 15px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 15px 15px rgba(0,0,0,0.3);

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.aola_tm_portfolio_list .list_inner:hover{
	-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
}

.aola_tm_portfolio_list .list_inner .translucent_bg{
	position: relative;
	text-align: center;
	width: 93%;
	height: 93%;
	margin: 3.5%;
	/* float: left; */
	
	/* margin: 10px 10px 10px 10px; */
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}
.aola_tm_portfolio_list .list_inner .document_title{
	/* line-height: 100px; */
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
}

.aola_tm_portfolio_list .list_inner .document_description {
	padding: 0px 15px 10px 15px;
	font-size: 10px;
	color: #fff;
	text-align: left;
	margin-top: 0px;
}

.aola_tm_portfolio_list .list_inner .document_title p{
	display: absolute;
	bottom: 0;
}

.aola_tm_portfolio_list .list_inner .image_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	opacity: 0;
	visibility: hidden;
}
.aola_tm_portfolio_list .image_definition{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	
	opacity: 0;
	visibility: hidden;
}
.aola_tm_portfolio_list .image_definition .title a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: 600;
	display: inline-block;
}
.aola_tm_portfolio_list .link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.aola_tm_portfolio_list .link a{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.aola_tm_portfolio_list .list_inner:hover .image_inner{transform: scale(1.1,1.1) translateZ(0);} 
.aola_tm_portfolio_list .list_inner:hover .image_overlay{
	opacity: 1;
	visibility: visible;
}
.aola_tm_portfolio_list .list_inner:hover .image_definition{
	opacity: 1;
	visibility: visible;
}


/*---------------------------------------------------*/
/*	13) AOLA MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1200px) {
	.aola_tm_twice_box_wrap .rightbox .team_list > ul > li{width: 50%;}
}
@media (max-width: 1040px) {
	.aola_tm_trigger{display: block;}
	.aola_tm_navigation_wrap .nav_list_wrap{display: none;}
	.aola_tm_portfolio_wrap{padding: 0px;}
	.aola_tm_portfolio_home_wrap{padding: 0px 20px;}
	.aola_tm_twice_box_wrap{display: block;}
	.aola_tm_twice_box_wrap .leftbox{width: 100%;margin-bottom: 50px;}
	.aola_tm_twice_box_wrap .rightbox{width: 100%;}
	.aola_tm_news_wrap ul li{width: 50%;}
}
@media (max-width: 768px) {
	.aola_tm_home_title_wrap h3{font-size: 27px;}
	.aola_tm_home_title_wrap .inner{padding-top: 135px;}
	.aola_tm_home_title_wrap.index{margin-bottom: 150px;}
	.aola_tm_home_title_wrap.portfolio{margin-bottom:  147px;}
	.aola_tm_home_title_wrap{margin-bottom: 170px;}
	.aola_tm_home_title_wrap.single{margin-bottom: 153px;}
	.aola_tm_home_title_wrap.news{margin-bottom: 163px;}
	.aola_tm_home_title_wrap.service{margin-bottom: 165px;}
	.aola_tm_home_title_wrap.about{margin-bottom: 163px;}
	.aola_tm_home_title_wrap.contact{margin-bottom: 150px;}
	.aola_tm_twice_box_wrap .service_list_wrap ul li{width: 50%;}
	.aola_tm_twice_box_wrap{margin-bottom: 150px;}
	.aola_tm_twice_box_wrap.service{margin-bottom: 163px;}
	.aola_tm_twice_box_wrap.single{margin-bottom: 165px;}
	.aola_tm_twice_box_wrap.about{padding-top: 5px;margin-bottom: 145px;}
	.aola_tm_portfolio_wrap{margin-bottom: 147px;}
	.aola_tm_portfolio_home_wrap{margin-bottom: 160px;padding: 0px;}
	.aola_tm_portfolio_list > li{width: 50%;}
	.aola_tm_portfolio_filter li{margin-right: 30px;margin-bottom: 0px;}
	.aola_tm_news_single_image .inner{padding-top: 137px;}
	.aola_tm_news_wrap ul{margin: 0px;}
	.aola_tm_news_wrap ul li{width: 100%;padding: 0px;}
	.aola_tm_news_single_definitions_wrap{display: block;}
	.aola_tm_news_single_definitions_wrap .leftbox{padding-right: 20px;margin-bottom: 50px;}
	.aola_tm_short_contact_wrap .title h3{font-size: 27px;}
	.aola_tm_short_contact_wrap{padding: 163px 20px 185px 20px;margin-bottom: 168px;}
	.aola_tm_about_top_image{margin-bottom: 165px;}
	.aola_tm_service_top_image{margin-bottom: 163px;}
	.aola_tm_pagination_wrap{margin-bottom: 152px;}
	.aola_tm_pagination_wrap .left{display: none;}
	.aola_tm_news_pagination{margin-bottom: 163px;}
	.aola_tm_footer_wrap{padding-bottom: 163px;}
	.aola_tm_comment_contact{margin-bottom: 165px;}
	.aola_tm_comment_contact .left{display: none;}
	.aola_tm_twice_box_wrap.contact{margin-bottom: 150px;}
	body{line-height: 2.3;}
}
@media (max-width: 480px) {
	.aola_tm_top_bar_wrap ul li{margin: 0px;}
	.aola_tm_home_title_wrap h3{font-size: 24px;}
	.aola_tm_home_title_wrap .inner{padding-top: 100px;}
	.aola_tm_home_title_wrap.index{margin-bottom: 130px;}
	.aola_tm_home_title_wrap.portfolio{margin-bottom:  132px;}
	.aola_tm_home_title_wrap{margin-bottom: 150px;}
	.aola_tm_home_title_wrap.single{margin-bottom: 130px;}
	.aola_tm_home_title_wrap.news{margin-bottom: 138px;}
	.aola_tm_home_title_wrap.contact{margin-bottom: 130px;}
	.aola_tm_home_title_wrap.service{margin-bottom: 140px;}
	.aola_tm_home_title_wrap.about{margin-bottom: 138px;}
	.aola_tm_home_title_wrap.portfolio .inner{padding-top: 105px;}
	.aola_tm_portfolio_wrap{margin-bottom: 122px;}
	.aola_tm_footer_wrap{display: block;}
	.aola_tm_footer_wrap .sharebox{padding-right: 0px;width: 100%;margin-bottom: 50px;}
	.aola_tm_footer_wrap .copyright{width: 100%;text-align: left;}
	.aola_tm_twice_box_wrap .rightbox .team_list > ul > li{width: 100%;padding: 0px;}
	.aola_tm_twice_box_wrap.service{margin-bottom: 143px;}
	.aola_tm_twice_box_wrap{margin-bottom: 130px;}
	.aola_tm_twice_box_wrap.about{margin-bottom: 120px;}
	.aola_tm_twice_box_wrap.single{margin-bottom: 145px;}
	.aola_tm_twice_box_wrap .rightbox .team_list > ul{margin: 0px;}
	.aola_tm_twice_box_wrap .service_list_wrap ul li{width: 100%;}
	.aola_tm_twice_box_wrap .leftbox .title h3{font-size: 22px;}
	.aola_tm_portfolio_home_wrap{margin-bottom: 130px;}
	.aola_tm_portfolio_list > li{width: 100%;}
	.aola_tm_portfolio_filter li{display: block;}
	.aola_tm_short_contact_wrap .title h3{font-size: 24px;}
	.aola_tm_short_contact_wrap .title{margin-bottom: 45px;}
	.aola_tm_short_contact_wrap{padding: 138px 20px 162px 20px;}
	.aola_tm_news_wrap{margin-bottom: 55px;}
	.aola_tm_news_wrap ul li .definitions_wrap{padding: 0px 20px 50px 20px;}
	.aola_tm_news_wrap ul li .title h3{font-size: 20px;}
	.aola_tm_news_single_definitions_wrap .rightbox .title_holder h3{font-size: 22px;}
	.aola_tm_news_single_image .inner{padding-top: 117px;}
	.aola_tm_contact_wrap .title_holder h3{font-size: 22px;}
	.aola_tm_twice_box_wrap .contact_title h3{font-size: 23px;}
	.aola_tm_about_top_image{margin-bottom: 145px;}
	.aola_tm_service_top_image{margin-bottom: 143px;}
	.aola_tm_pagination_wrap{margin-bottom: 132px;}
	.aola_tm_news_pagination{margin-bottom: 143px;}
	.aola_tm_short_contact_wrap{margin-bottom: 143px;}
	.aola_tm_comment_contact{margin-bottom: 145px;padding: 0px 10px;}
	.aola_tm_twice_box_wrap.contact{margin-bottom: 130px;}
	.aola_tm_footer_wrap{padding-bottom: 138px;}
	body{line-height: 2.1;}
}	

